@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root{
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --form-ok-color: #4caf50;
    --form-error-color: #DC143C;
}

body.dark{
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
}

body{
    line-height: 1.5;
    font-size: 1rem;
    font-family: 'Poppins' sans-serif;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,::after{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 1.9rem;
    opacity: 1;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all .3s ease;
}

.section.back-section{
    z-index: 1;
}

.section.active{
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
}

@keyframes slideSection{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.hidden{
    display: none !important;
}

.padd-15{
    padding-left: .9rem;
    padding-right: .9rem;
}
.container{
    max-width: 69rem;
    width: 100%;
    margin: auto;
}

.section .container{
    padding-top: 3.75rem;
    padding-bottom: 4.38rem;
}

.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 3.75rem;
}

.section-title h2{
    font-size: 2.5rem;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before{
    content: '';
    height: .25rem;
    width: 3.13rem;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after{
    content: '';
    height: .25rem;
    width: 1.56rem;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: .5rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.94rem;
    margin-right: -0.94rem;
    position: relative;
}

.btn{
    font-size: 1rem;
    font-weight: 500;
    padding: .75rem 2.19rem;
    border-radius: 2.5rem;
    color: #fff;
    display: inline-block;
    border: none;
    white-space: nowrap;
    background: var(--skin-color);
    transition: all .3s ease;
}

.btn:hover{
    transform: scale(1.05);
}

.btn-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    width: 10rem;
    height: 3rem;
    background-color: var(--bg-black-100);
    border-radius: 5rem;
    padding: 0 1.1rem;
    transition: all 0.2s ease-in-out;
    margin-left: .9rem;
}

.btn-wrap:hover{
    transform: scale(1.1);
}

 .btn-wrap span{
    position: absolute;
    z-index: 10;
    width: 10rem;
    height: 3rem;
    border-radius: 5rem;
    left: 0;
    font-size: 1rem;
    text-align: center;
    line-height: 3rem;
    color: #fff;
    background-color: var(--skin-color);
    padding: 0 1.1rem;
    transition: all 1.2s ease;
 }

 .btn-wrap .nav-container{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3.5rem;
    border-radius: 5rem;
 }

 .btn-wrap .nav-container a{
    opacity: 0;
    font-size: 1.8rem;
    color: var(--skin-color);
    transition: all 0.3s ease;
 }

 .btn-wrap .nav-container a:nth-of-type(1){
    transition-delay: 1.1s;
 }
 .btn-wrap .nav-container a:nth-of-type(2){
    transition-delay: 0.9s;
 }
 .btn-wrap .nav-container a:nth-of-type(3){
    transition-delay: 0.7s;
 }
 .btn-wrap .nav-container a:nth-of-type(4){
    transition-delay: 0.4s;
 }

 .btn-wrap:hover span{
    transition-delay: 0.25s;
    transform: translateX(-17.5rem);
 }

 .btn-wrap:hover a{
    opacity: 1;
    transform: scale(1);
 }

.shadow-dark{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/*****aside*******/

.aside{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.87rem;
    border-right: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 1.87rem;
    height: 100%;
    z-index: 10;
    transition: all .3s ease;
}

.aside .logo{
    position: absolute;
    top: 3.1rem;
    font-size: 1.87rem;
    text-transform: capitalize;
}

.aside .logo a{
    color: var(--text-black-900);
    font-weight: 700;
    padding: .94rem 1.25rem;
    font-size: 1.9rem;
    letter-spacing: .3rem;
    position: relative;
}

.aside .logo a span{
    font-family: 'Clicker Script', cursive;
    font-size: 2.5rem;
}


.aside .logo a::before{
    content: '';
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.aside .logo a::after{
    content: '';
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

.aside .nav-toggler{
    height: 2.5rem;
    width: 2.8rem;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    right: 18.8rem;
    bottom: 1.25rem;
    border-radius: .3rem;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.aside .nav-toggler span{
    height: .12rem;
    width: 1.13rem;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.aside .nav-toggler.open span{
    background-color: transparent;
}


.aside .nav-toggler span::before{
    content: '';
    height: .12rem;
    width: 1.13rem;
    background: var(--skin-color);
    position: absolute;
    top: -0.37rem;
    left: 0;
}

.aside .nav-toggler.open span::before{
    transform: rotate(45deg);
    top: 0;
}

.aside .nav-toggler span::after{
    content: '';
    height: .12rem;
    width: 1.13rem;
    background: var(--skin-color);
    position: absolute;
    top: 0.37rem;
    left: 0;
}

.aside .nav-toggler.open span::after{
    transform: rotate(-45deg);
    top: 0;
}

.aside .nav{
    margin-top: 3.13rem;
}

.aside .nav li{
    margin-bottom: 1.25rem;
    display: block;
}


.aside .nav li a{
    font-size: 1rem;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: .3rem .9rem;
}

.aside .nav li a.active{
    color: var(--skin-color);
}

.aside .nav li a i{
    margin-right: .9rem;
}

/*******HOME************/

.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info{
    flex: 0 0 60%;
    max-width: 60%;
}

.home-info p{
    margin-bottom: 4.38rem;
    font-size: 1.20rem;
    color: var(--text-black-700);
    text-align: justify;
}

h3.hello{
    font-size: 1.75rem;
    margin: .94rem 0;
}

h3.hello span{
    font-family: 'Clicker Script', cursive;
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--skin-color);
}

h3.my-profession{
    font-size: 1.9rem;
    margin: .94rem 0;
}

.typing{
    color: var(--skin-color);
}


.home .home-img{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home-img::after{
    content: '';
    position: absolute;
    height: 5rem;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    width: 5rem;
    right: 1rem;
    bottom: -2rem;
}

.home-img::before{
    content: '';
    position: absolute;
    height: 5rem;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    width: 5rem;
    left: 1rem;
    top: -2rem;
}

.home .home-img img{
    height: 25rem;
    border-radius: .31rem;
    margin: auto;
}


/*ABOUT*/

.about .about-content{
    flex: 0 0 100%;
    max-width: 100%;   
}

.about .about-content .about-text{
    flex:0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3{
    font-size: 1.5rem;
    margin-bottom: .94rem;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text h3 span{
    color: var(--skin-color);
}

.about .about-content .about-text p{
    font-size: 1.2rem;
    line-height: 1.56rem;
    color: var(--text-black-700);
    text-align: justify;
}

.about .about-content .personal-info{
    flex: 0 0 50%;
    max-width: 60%;
    margin-top: 2.5rem;
}

.about .about-content .personal-info h2{
    font-size: 1.5rem;
    margin-bottom: 1.9rem;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .personal-info .info-item{
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p{
    font-weight: 600;
    padding: .63rem 0;
    font-size: 1rem;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span{
    font-weight: 400;
    color: var(--text-black-700);
    display: inline-block;
}

.about .about-content .personal-info .buttons{
    margin-top: 1.88rem;
}

.about .about-content .personal-info .buttons .btn{
    margin-right: .94rem;
    margin-top: .63rem;
}

.about .about-content .skills{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 2.5rem;
}

.about .about-content .skills h2{
    font-size: 1.5rem;
    margin-bottom: 1.9rem;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .skills .skill-item{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1.56rem;
}

.about .about-content .skills .skill-item h3{
    line-height: 2.5rem;
    font-weight: 600;
    font-size: 1rem;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.about .about-content .skills .skill-item .progress{
    background-color: var(--bg-black-50);
    height: .44rem;
    border-radius: .25rem;
    width: 100%;
    position: relative;
}

.about .about-content .skills .skill-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: .25rem;
    background-color: var(--skin-color);
}

.about .about-content .skills .skill-item  .skill-porcent{
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -2.5rem;
    font-weight: 400;
    line-height: 2.5rem;
}

.about .about-content .education,
.about .about-content .experience
{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 1.88rem;
}

.about .about-content h2.title{
    font-size: 1.5rem;
    margin-bottom: 1.9rem;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .timeline-box{
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .timeline{
    background-color: var(--bg-black-100);
    padding: 1.9rem .93rem;
    border: 1px solid var(--bg-black-50);
    border-radius:  .62rem;
    width: 100%;
    position: relative;
}

.about .about-content .timeline .timeline-item{
    position: relative;
    padding-left: 2.3rem;
    padding-bottom: 3.12rem;
}

.about .about-content .timeline .timeline-item:last-child{
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: .44rem;
    top: 0;
    background-color: var(--skin-color);
}

.about .about-content .timeline .circle-dot{
    position: absolute;
    left: 0;
    top: 0;
    height: .94rem;
    width: .94rem;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date{
    font-weight: 400;
    font-size: .9rem;
    margin-bottom: .8rem;
    color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date .fa{
    margin-right: .31rem;
}

.about .about-content .timeline .timeline-title{
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: .9rem;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.about .about-content .timeline .timeline-text{
    line-height: 1.6rem;
    font-size: 1rem;
    text-align: justify;
    color: var(--text-black-700);
}

/*SERVICES*/

.service .container{
    padding-bottom: 2.5rem;
}

.service .service-item{
    margin-bottom: 1.9rem;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.service .service-item .service-item-inner{
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: .62rem;
    padding: 1.9rem .94rem;
    text-align: center;
    transition: all .35 ease;
}

.service .service-item .service-item-inner:hover{
    box-shadow: 0 0 20px rgba(48, 46, 77, .15);
}

.service .service-item .service-item-inner .icon{
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    display: block;
    margin: 0 auto 1.9rem;
    text-align: center;
    transition: all .3s ease;
}

.service .service-item .service-item-inner .icon i{
    font-size: 2.5rem;
    line-height: 3.75rem;
    color: var(--skin-color);
    transition: all .3s ease;
}

.service .service-item .service-item-inner:hover .icon{
    background: var(--skin-color);
}

.service .service-item .service-item-inner:hover .icon i{
    font-size: 1.56rem;
    color: #ffffff;
}

.service .service-item .service-item-inner h4{
    font-size: 1.13rem;
    margin-bottom: .94rem;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}

.service .service-item .service-item-inner p{
    font-size: 1rem;
    color: var(--text-black-700);
    line-height: 1.56rem;
}

/*PORTFOLIO*/

.portfolio .container{
    padding-bottom: 2.5rem;
}

.portfolio .portfolio-heading{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 2.5rem;
}

.portfolio .portfolio-heading h2{
    color: var(--text-black-900);
    font-weight: 500;
}

.portfolio .portfolio-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 1.9rem;
}

.portfolio .portfolio-item-inner{
    border: 6px solid var(--bg-black-100);
    border-radius: .63rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.portfolio .portfolio-item-inner .portfolio-img img{
    width: 100%;
    height: auto;
    display: block;
}

.portfolio .portfolio-item-inner .portfolio-info{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--bg-black-900);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    transition: all .3s ease;
    transform: scale(0);
}

.portfolio .portfolio-item-inner .portfolio-info a{
    color: var(--text-black-900);
    font-size: 1.5rem;
    padding-bottom: 2rem;
    transition: all .3s ease;
}

.portfolio .portfolio-item-inner .portfolio-info a:hover{
    font-size: 2rem;
}

.portfolio .portfolio-item-inner .portfolio-info .logos-tecnologies img{
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 .5rem;
}

.portfolio .portfolio-item-inner:hover .portfolio-info{
    transform: scale(1);
} 


/*CONTACT*/

.contact-title{
    color: var(--skin-color);
    text-align: center;
    font-size: 1.56rem;
    margin-bottom: 1.25rem;
}

.contact-sub-title{
    color: var(--text-black-900);
    text-align: center;
    font-size: .94rem;
    margin-bottom: 3.75rem;
}

.contact .contact-info-item{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 3.75rem;
}

.contact .contact-info-item .icon{
    display: inline-block;
}

.contact .contact-info-item .icon .fa{
    font-size: 1.56rem;
    color: var(--skin-color);
}

.contact .contact-info-item h4{
    font-size: 1.13rem;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: .94rem 0 .31rem;
}

.contact .contact-info-item p{
    font-size: 1rem;
    line-height: 1.56rem;
    color: var(--text-black-700);
    font-weight: 400;
}

.contact .contact-form{
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-6{
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item{
    margin-bottom: 1.9rem;
}

.contact .contact-form .form-item .form-control{
    width: 100%;
    height: 3.13rem;
    border-radius: 1.56rem;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: .62rem 1.65rem;
    font-size: 1rem;
    color: var(--text-black-700);
    transition: all .3s ease;
}

.contact .contact-form .form-item .form-control:focus{
    box-shadow: 0 0 20px rgba(48, 46, 77, .15);
}

.contact .contact-form .form-item textarea.form-control{
    height: 8.75rem;
}

.contact .contact-form  .btn{
    height: 3.12rem;
    padding: 0 3.12rem;
}

.contact .contact-form [required]:valid{
    border: thin solid var( --form-ok-color);
}

/*.contact .contact-form [required]:invalid{
    border: thin solid  var(--form-error-color);
}*/

.contact .contact-form .contact-form-error{
    margin-top: -1rem;
    font-size: 80%;
    background-color: var(--form-error-color);
    color: #fff;
    transition: all 800ms ease;
}

.contact .contact-form .contact-form-error.is-active{
    display: block;
    animation: show message 1s 1 normal 0s ease-out both;
}


.contact-form-response{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--form-ok-color);
    text-align: center;
}

.none{
    display: none;
}

@media (max-width:1199px){

    .aside{
        left: -16.9rem;
    }

    .aside.open{
        left: 0;
    }

    .aside .nav-toggler{
        display: flex;
        right: 1rem;
    }

    
    .section{
        left: 0;
    }


    .about .about-content .personal-info .info-item p span{
        display: block;
        margin-left: 0;
    }
}

@media (max-width: 991px){
    .home .home-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img{
        display: none;
    }

    .service .service-item,
    .portfolio .portfolio-item,
    .contact .contact-info-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 762px){

    .about .about-content .skills,
    .about .about-content .personal-info,
    .about .about-content .education,
    .about .about-content .experience,
    .service .service-item,
    .portfolio .portfolio-item,
    .contact .contact-info-item,
    .contact .contact-form .col-6{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-height:430px){
    .aside .nav{
        padding-top: 4.13rem;
    }
    .aside .logo{
        top: 2.5rem;
    }
}



    







